<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Weather Prediction - Data Programming Project</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{{url_for('static',filename='fonts/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
		
		<!-- Loading main css file -->
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="{{url_for('static',filename='images/logo.png')}}" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Data Programing Project </h1>
							<small class="site-description">Group 5</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="index">Home</a></li>
							<li class="menu-item"><a href="data">View All Data</a></li>
							<li class="menu-item"><a href="charts">View Charts</a></li>
							<li class="menu-item"><a href="team">Our Team</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<div class="hero" data-bg-image=" {{url_for('static',filename='images/georgian-banner.png')}}">
				<div class="container">
					

				</div>
			</div>
			
				

				<div class="fullwidth-block" data-bg-color="#262936">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<div class="news">
									<div class="date">1</div>
									<h3><a href="#">Jinesh Kansara - 200543771 </a></h3>
									<p> Lead Software Developer, Backend Developer, Data Analyst & Project Manager</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="news">
									<div class="date">2</div>
									<h3><a href="#">Rakesh Jaymani- 200517696 </a></h3>
									<p> Data Analyst, Software Developer, Front End Developer</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="news">
									<div class="date">3</div>
									<h3><a href="#">Prajakta Ninave - 200543035 </a></h3>
									<p>Data Analyst, Software Developer, Front End Developer </p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<h2 class="section-title">Application features</h2>
								<ul class="arrow-feature">
									<li>
										<h3>Live Weather Prediction</h3>
								
									</li>
									<li>
										<h3>Live Data Update</h3>
										
									</li>
									<li>
										<h3>Accurate Weather Information</h3>
										
									</li>
								</ul>
							</div>
							<div class="col-md-4">
								<h2 class="section-title">Weather analyssis</h2>
								<ul class="arrow-list">
									<li><a href="#">Weather Update</a></li>
									<li><a href="#">Wind Speed / Snow Analysis</a></li>
									<li><a href="#">Cloud Data</a></li>
									<li><a href="#">UV Index</a></li>
								
								</ul>
							</div>
							<div class="col-md-4">
								<h2 class="section-title">NewYork City</h2>
								<div class="photo-grid">
									<a href="#"><img src="{{url_for('static',filename='images/1.png')}}" alt="#"></a>
									<a href="#"><img src="{{url_for('static',filename='images/2.png')}}" alt="#"></a>
									<a href="#"><img src="{{url_for('static',filename='images/3.png')}}" alt="#"></a>
									<a href="#"><img src="{{url_for('static',filename='images/4.png')}}" alt="#"></a>
									<a href="#"><img src="{{url_for('static',filename='images/1.png')}}" alt="#"></a>
									<a href="#"><img src="{{url_for('static',filename='images/2.png')}}" alt="#"></a>
									<a href="#"><img src="{{url_for('static',filename='images/3.png')}}" alt="#"></a>
									<a href="#"><img src="{{url_for('static',filename='images/4.png')}}" alt="#"></a>
									<a href="#"><img src="{{url_for('static',filename='images/1.png')}}" alt="#"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="row">
						
						
					</div>

					<p class="colophon">Copyright 2023 Data Programming Group 5. Designed by Jinesh, Parajkta & Rakesh. All rights reserved</p>
				</div>
			</footer> <!-- .site-footer -->
		</div>
		
		
	
		<script src="{{url_for('static',filename='js/jquery-1.11.1.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/plugins.js')}}"></script>
		<script src="{{url_for('static',filename='js/app.js')}}"></script>
		
	</body>

</html>